// Modal Buttons
//
// Based on the bootstrap button this has been altered slightly to give us a good base toward our custom styles.
//
// active - active state
// :hover - hover state
//
// markup:
// <div class="menu-bar">
//	<a class="btn btn--modal menu-item" href="#" role="button">
// 		One Page
// 		<div class="curves left"></div>
// 		<div class="curves right"></div>
//	</a>
//	<a class="btn btn--modal menu-item {$modifiers}" href="#" role="button">
// 		Second One
// 		<div class="curves left"></div>
// 		<div class="curves right"></div>
//	</a>
// </div>
//
// Styleguide 3.4

.menu-item{
	background: $drk-blue__menu;
	margin: 0 10px;
	.curves{
		background: $drk-blue__menu;
	}	
	&:hover{
		background: $lght-blue__menu;
		color: $ow;
		.curves{
			background: $lght-blue__menu;
		}	
	}
}
.menu-item.active{
	background: $lght-blue__menu;
	box-shadow: none;
	.curves{
		background: $lght-blue__menu;
	}
}