@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
.btn {
  color: #fff;
  background: #3A65BA; }
  .btn.btn-lrg {
    height: 65px;
    padding: 10px; }
  .btn.btn--large-sharp {
    border-radius: 10%; }
  .btn.btn--large-gradual {
    border-radius: 10%; }

[class$='--darkblue'] {
  background: #14347A; }

[class$='--midblue'] {
  background: #3A65BA; }

[class$='--lightblue'] {
  background: #ACBDE3; }

[class$='--owblue'] {
  background: #E1E7F2; }

[class$='--darkgreen'] {
  background: #32BFBB; }

[class$='--lightgreen'] {
  background: #A7D4B6; }

[class$='--owgreen'] {
  background: #F3FAF2; }

[class$='--red'] {
  background: #DB544D; }

[class$='--purple'] {
  background: #744C75; }

[class$='--tan'] {
  background: #E8B3A2; }

[class$='--ow'] {
  background: #FCFAFA; }

[class$='--darkblue--color'] {
  color: #14347A; }

[class$='--midblue--color'] {
  color: #3A65BA; }

[class$='--lightblue--color'] {
  color: #ACBDE3; }

[class$='--owblue--color'] {
  color: #E1E7F2; }

[class$='--darkgreen--color'] {
  color: #32BFBB; }

[class$='--lightgreen--color'] {
  color: #A7D4B6; }

[class$='--owgreen--color'] {
  color: #F3FAF2; }

[class$='--red--color'] {
  color: #DB544D; }

[class$='--purple--color'] {
  color: #744C75; }

[class$='--tan--color'] {
  color: #E8B3A2; }

[class$='--ow--color'] {
  color: #FCFAFA; }

.swatch {
  width: 50px;
  height: 50px;
  margin: 10px;
  float: left;
  border: 1px solid black; }

.text-box {
  width: 100%;
  height: 50px;
  text-align: center; }
  .text-box span {
    font-weight: 700;
    font-size: 34px; }
